<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @job.currency %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @job.latitude %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @job.longtitude %>
</p>


<h2>Apply</h2>

<%= link_to 'Apply', job_apply_path(@job.id), method: :post %>


<br>

<h2>Comment</h2>


<%= form_for([@job, Comment.new]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<h2>Comments</h2>
<% @job.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <%= link_to 'Delete', job_comment_path(@job, comment),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_job_comment_path(@job, comment) %>
<% end %>

<hr>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
