<h1>Resumes#index</h1>

<%= @userxx.class %>

<b>Personality Traits: </b><%= @resume.personality_traits %>
<br>
<b>Summary: </b><%= @resume.summary %>  
<br>
<b>Languages: </b><%= @resume.languages %>   
<br>
<b>Education history: </b><%= @resume.education_history %> 
<br>
<b>Work history: </b><%= @resume.work_history %> 
