<!DOCTYPE html>
<html>
<head>
  <title>Jobboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'primary_nav' %>
<%= render 'secondary_nav' %>


<% if notice %>
	<div class="notice">
		<p><%= notice %></p>
	</div>
<% end %>
<% if notice %>
	<div class="alert">
		<p><%= alert %></p>
	</div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
